body {
    background-color:#444F48 ;
}

.opencontainer {
margin-left: auto;
margin-right: auto;
width: 328px;
/* height: 416px; */
background: #263635;
border-radius: 5px;
}

.openheadinggroup {
display: flex;
flex-direction: column;
margin: auto;
width: 151.76px;
height: 78.71px;

}

.openheadinggroup h1{

height: 60.21px;
font-family: Recoleta;
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 20px;
/* or 77% */
padding-top: 10px;
text-align: center;

color: #BEBEBE;
}

.openheadinggroup h2 {
 /* Survival Readiness */

height: 21.52px;
font-family: Trade Gothic LT Std;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
text-align: center;
margin-top:-10px;
color: #E5E5E5;   
}

.openheadinggroup h3 {
height: 17.72px;
font-family: Trade Gothic LT Std;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
text-align: center;
margin-top:-5px;
padding-top:0px;
color: #B48F22;
}

.openbody p {
font-family: ConduitRegITC TT;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
/* identical to box height */

text-align: center;

color: #B5B5B5;
flex: auto;
margin-top:80px;
margin-left: 0;
margin-right: 0;
}



.button {
display: flex;
flex-direction: row;
margin: auto;
padding-top:200px;
padding-bottom:30px;
width: 164px;
height: 32px;

  
}
.button h4{
font-family: ConduitITC TT;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFC107;
align-self: center;
margin: auto;

}

input[type=submit] {
width: 165px;
height: 35px;
left: 96px;
top: 605px;
color: #F5F5F5;
background: #8C7222;
border: 1px solid #674D0F;
box-sizing: border-box;
border-radius: 5px;
}
